*{
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}
.s-1{
    width: 500px;
    height: 500px;
    margin: 10px;
    background-color: brown;
    margin: auto;
    position: relative;
}
.sh{
    width: 100px;
    height: 100px;
}
.s-2{
    background-color: rgb(43, 43, 16);
    position: absolute;
    top: 10px;
    left: 20px;
    transition: .3s;
    

    
}
.s-3{
    background-color: rgb(172, 172, 41);
    position: absolute;
    top: 20px;
    left: 30px;
    transition: .3s;

    
}
.s-4{
    background-color: rgb(99, 99, 5);
    position: absolute;
    top: 30px;
    left: 40px;
    transition: 5s;
    opacity: .5;
    visibility: visible;

    
}
.s-5{
    background-color: rgb(122, 122, 36);
    position: absolute;
    top: 40px;
    left: 50px;
    transition: .3s;
    z-index: 1;

}
.s-2:hover{
    width: 200px;
}
.s-3:hover{
    width: 200px;
}
.s-4:hover{
    width: 200px;
}
.s-5:hover{
    width: 200px;
}